@import url('../css/nullstyle.css');

@font-face {
	font-family: 'Reality Hyper';
	src: url('../fonts/RealityHyperRegular.woff2') format('woff2');
	font-style: normal;
	font-weight: 400;
}

body {
	font-family: 'Reality Hyper', sans-serif;
	color: #fff;
	background-color: #1b1a1f;

	@media (max-width: 768px) {
		&.lock {
			overflow: hidden;
		}
	}
}

.wrapper {
	overflow: hidden;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.main {
	flex: 1 1 auto;
}

.container {
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 10px;
}

.header {
	padding: 30px 0;
	border-bottom: 1px solid #8d8c8f;
	position: relative;
	animation: social-link 2s ease-in-out;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #1b1a1f;
		z-index: 52;
	}

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__logo {
		position: relative;
		z-index: 52;
		margin-right: 10px;
	}

	&__logo img {
		max-width: 100%;
	}

	&__burger {
		display: none;
		@media (max-width: 768px){
            display: block;
            position: relative;
            height: 5px;
            width: 40px;
            z-index: 52;
            transition: all 0.3s ease;
            &::before,
            &::after{
                content: "";
                position: absolute;
                height: 5px;
                background-color: #fff;
                margin: auto;
                width: 100%;
                transition: all 0.3s ease-in-out;
            }
            &::before{
                top: 5px;
                right: 0;
                width: 75%;
                transform-origin: right;
            }
            &::after{
                bottom: 5px;
                right: 0;
                width: 100%;
                transform-origin: right;
                background-color: #fff;
            }
            &.active::after{
                width: 75%;
                background-color: #fff;
            }
            &.active::before{
                width: 100%;
                background-color: #fff;
            }
        }
	}
}

.menu {
	font-family: 'Poppins', sans-serif;
	position: relative;
	z-index: 52;

	@media (max-width: 768px) {
		position: fixed;
		top: -100%;
		right: 0;
		width: 100%;
		height: 100%;
		background-color: #1b1a1f;
		padding: 120px 0 0;
		overflow: auto;
		transition: all .3s ease-in-out;
		z-index: 50;

		&.active {
			top: 0;
		}
	}

	&__list {
		display: flex;
		align-items: center;
		gap: 50px;
		
		@media (max-width: 768px) {
			display: block;
			text-align: center;
		}
	}

	&__item {
		@media (max-width: 768px) {
			margin-bottom: 40px;
		}
	}

	&__link {
		color: #fff;
		transition: all .3s ease-in-out;
		position: relative;

		&::after {
			content: '';
			display: block;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			width: 0;
			height: 1px;
			background-color: #eb4c56;
			transition: all .3s ease-in-out;
			bottom: -29px;
		}

		&:hover::after,
		&:focus::after {
			width: 100%;
		}

		&:hover {
			color: #eb4c56;
		}
	}
}

.menu-user {
	position: relative;
	z-index: 52;
	margin-right: 10px;

	&__list {
		display: flex;
		text-align: center;
		gap: 20px;
	}

	&__link {
		display: inline-block;
		transition: all .3s ease-in-out;

		&:hover {
			transform: scale(1.2);
		}
	}
}

.hero {
	padding-top: 100px;
	position: relative;
	z-index: 5;

	@media (max-width: 768px) {
		padding-top: 50px;
	}

	&__items {
		margin-left: 50px;
		margin-bottom: 70px;

		@media (max-width: 768px) {
			margin-left: 0;
			margin-bottom: 30px;
		}
	}

	&__item {
		max-width: 480px;

		@media (max-width: 768px) {
			max-width: 100%;
			margin-bottom: 30px;
		}
	}

	&__title {
		font-size: 105px;
		line-height: .8;
		display: flex;
		flex-direction: column;
		margin-bottom: 50px;
		width: 100%;
		animation: hero-text 1.7s cubic-bezier(0.55, 0.085, 0.68, 0.53) .3s;

		@media (max-width: 768px) {
			font-size: clamp(3.125rem, -1.739rem + 17.3vw, 6.563rem);
		}

		& span {
			text-align: right;
			font-size: 50px;
			line-height: 57px;
			animation: hero-text 1.8s cubic-bezier(0.645, 0.045, 0.355, 1) .3s;


			@media (max-width: 768px) {
				font-size: 40px;
			}
		}
	}

	&__text {
		font-family: 'Poppins', sans-serif;
		font-weight: 300;
		font-size: 22px;
		line-height: 1;
		margin-bottom: 40px;
		animation: hero-text 2s ease-in-out .3s;


		@media (max-width: 768px) {
			font-size: 16px;
		}
	}

	&__link {
		font-family: 'Poppins', sans-serif;
		font-size: 16px;
		line-height: 33px;
		color: #fff;
		padding: 22px 32px;
		background-color: #eb4c56;
		display: inline-block;
		transition: all .3s ease-in-out;
		animation: hero-link 2.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) .3s;


		&:hover {
			background-color: #fff;
			color: #1b1a1f;
		}

		@media (max-width: 768px) {
			text-align: center;
			padding: 15px 32px;
			width: 100%;
		}
	}

	&__image {
		position: absolute;
		top: 0;
		right: 0;
		z-index: -1;
		animation: image-hero 2s ease-in-out;


		@media (max-width: 768px) {
			position: relative;
			margin-right: -10px;
		}
	}

	&__img {
		max-width: 100%;
	}

	&__social {
		display: flex;
		flex-direction: column;
		gap: 20px;
		animation: social-link 2s cubic-bezier(0.68, -0.55, 0.265, 1.55);


		@media (max-width: 768px) {
			margin-bottom: 20px;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			gap: 20px;
		}

		& svg {
			transition: all .3s ease-in-out;
		}
	}
}

@keyframes image-hero {
	0% {
		transform: translateX(100%);
		opacity: 0;
	}

	100% {
		transform: translateX(0%);
		opacity: 1;
	}
}

@keyframes hero-text {
	0% {
		transform: translateX(-100%);
		opacity: 0;
	}

	100% {
		transform: translateX(0%);
		opacity: 1;
	}
}

@keyframes hero-link {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes social-link {
	0% {
		transform: translateY(100%);
		opacity: 0;
	}

	100% {
		transform: translateY(0%);
		opacity: 1;
	}
}